
<link href="/Content/largeDesktop/header.css" rel="stylesheet" />

<img src="/Content/images/vbha-logo.png" class="logo" />
<div class="header-right">
    <p>Hello @ViewBag.Person!</p>
    @Html.ActionLink("Log out", "Login", "Logout")
</div>

